/* .app-download {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
  }
  
  .app-download-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .app-download h2 {
    font-size: 28px;
    color: #ffb7ce;
    margin-bottom: 20px;
  }
  
  .app-download p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .app-download-platforms img {
    width: 150px;
    transition: transform 0.3s ease;
  }
  
  .app-download-platforms img:hover {
    transform: scale(1.1);
  } */
  .app-download {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
  }
  
  .app-download-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .app-download h2 {
    font-size: 28px;
    color: #f979a2;
    margin-bottom: 20px;
  }
  
  .app-download p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .app-download-platforms img {
    width: 150px;
    transition: transform 0.3s ease;
  }
  
  .app-download-platforms img:hover {
    transform: scale(1.1);
  }
  