.header{
    height: 42vw;
    margin: 0px auto;
    background: url('/header_img.jpeg') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 54vw;
    animation: fadeIn 3s ;
    margin-right: 25px;
    margin-left: 287px;
    
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(235, 4, 43, 0.788);
}
.header-contents button:hover{
    background-color: #f979a2;
    transition: 0.3s;
    color: white;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }

}